/* Estilo geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  background-color: #f3f3f3;
}

/* Define o tamanho da imagem da logo */
header .logo img{
    width: 130px;
    height: 40px;
    margin-right: 30px; /* Espaço entre a logo e o título */

  }

/* Barra lateral */
.sidebar {
  width: 100px;
  background-color: #ff0000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

/* Perfil */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* Forma do perfil */
.profile-picture {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 10px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.logout {
  margin-top: 20px;
  font-size: 12px;
  cursor: pointer;
}

/* Conteúdo principal */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  background-color: #ff0000;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 10px 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

h2 {
  font-size: 20px;
  color: black;
}

.form-container {
  background-color: #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form {
  display: flex;
  align-items: center;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: black;
}

input, select, button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
}
